@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
h1{
  font-family: 'Style Script', cursive;
  font-size: 60px;
}
#plus{
  font-size: 35px;
}
.tasks{ 
  justify-content: center;
}
